body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    transition: background-color 0.5s ease;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252627;
    color: white;
}

.loading-text {
    margin-top: 20px;
    font-size: 1.5rem;
}

.navbar {
    background-color: #343a40;
    
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffdd57 !important; /* Color on hover */
}

header {
    background: linear-gradient(135deg, #6f42c1, #e83e8c);
    color: white;
    padding: 80px 0;
    transition: transform 0.5s, box-shadow 0.5s;
}

header:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

section {
    margin: 60px 0;
    padding: 40px 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

section:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

.project-card {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.btn-primary {
    background-color: #28a745;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #218838;
}

.slideshow-container {
    position: relative;
    margin: 20px auto;
    max-width: 100%;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s;
}

.active, .dot:hover {
    background-color: #717171;
}

.inner-list{
    margin-right: 30px;
    
}

 li{
     list-style: none;
    
}